#activities {
	height: 250px;
	overflow: scroll;
	border: 2px solid;
	padding: 15px;
}

.lose {
	color: red;
}

.win {
	color: green;
}
.text-center{
	display: inline-block;
	margin-inline-start: 100px;
}
.box_1{
    display: inline-block;
    margin-inline-start: 49px;
    text-align: center;
    border: 2px solid black;
    width: 174px;
    height: 160px;
}
.reset button{
	text-align: center;
    width: 110px;
    height: 51px;
	margin-block-start: 26px;
	
	
}